*~
*.swp
*.nc
*.csv
.Rproj.user
.DS_Store
.RData
.Rapp.history
create_data
.Rhistory
inst
src-*
R
src
oce.Rproj
oce.aux
oce.out
Rplots.pdf
create_data
autom4te.cache
tests_private
revdep
vignettes

_site/tests
